.DS_Store
.idea/
.vscode/
*.log
dist/
bin/
terraform-provider-homecloud
terraform-provider-homecloud.exe
dev.tfrc
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example
vendor/
